<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
<% if alert %><p class="alert alert-error"><%= alert %></p><% end %>

<h1>New Company</h1>

<%= render "form" %>

<%= link_to "Back", root_path %>